beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
fastapi==0.63.0
greenlet==1.0.0
h11==0.12.0
idna==2.10
lxml==4.6.3
mysqlclient==2.0.1
numpy==1.20.2
pandas==1.2.3
pydantic==1.8.1
pymongo==3.11.3
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
simplejson==3.17.2
six==1.15.0
soupsieve==2.2.1
SQLAlchemy==1.4.3
starlette==0.13.6
TA-Lib==0.4.19
tushare==1.2.62
typing-extensions==3.7.4.3
urllib3==1.26.4
uvicorn==0.13.4
websocket-client==0.58.0
yacs==0.1.8
